# Aemet API_KEY https://opendata.aemet.es/centrodedescargas/inicio
api_key=

# Días entre cada llamada al API
step_days=31
max_date=1967-01-01

# Datos de acceso a MS SQL Server
mssql_ip=
mssql_port=1433
mssql_dbname=
mssql_user=
mssql_pass=

# Notificaciones telegram
tgm_token=
tgm_channel=